.icon2 {
  width: 50% !important ;
  height: 50% !important ;
}

.icon3 {
  width: 12% !important ;
  height: 12% !important ;
}

.cal {
  border-top: 2px solid rgb(184, 184, 184);
  * {
    padding: 10px;
  }
}
